*{
    padding: 0;
    margin: 0;
}
body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    background-color: black;
}
.box{
    height: 500px;
    width: 500px;
    background-color: aquamarine;
    animation: move 3s infinite ;
    
}
@keyframes move{
    0%{
        background-color: red;
        
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: green;
    }
}